body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  background-color: transparent;
  border: 2px solid yellow;
  color: yellow;
  position: relative;
  transition: all 0.2s;
  /* overflow: hidden; */
}

button::before {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #222;
}
