body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  background-color: transparent;
  border: 2px solid yellow;
  color: yellow;
  position: relative;
  transition: all 0.2s;
  overflow: hidden;
}

button::before,
button::after,
span::before,
span::after {
  content: "";
  width: 25%;
  height: 100%;
  position: absolute;
  background-color: yellow;
  z-index: -1;
  transition: all 0.3s;
}

button::before {
  top: 0;
  left: -25%;
}

button::after {
  top: -100%;
  left: 25%;
}

span::before {
  top: 100%;
  left: 50%;
}

span::after {
  top: 0;
  left: 100%;
}

button:hover {
  color: #222;
  cursor: pointer;
}

button:hover::before {
  left: 0;
}

button:hover::after {
  top: 0;
}

button:hover span::before {
  top: 0;
}

button:hover span::after {
  left: 75%;
}
